@charset "UTF-8";

*{-moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; -webkit-box-sizing: content-box; border: 0; box-sizing: content-box; color:inherit; margin: 0; padding: 0;}html{-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font: 14px 'Roboto',sans-serif; height: auto;}
body{cursor: default; font: 14px 'Roboto', sans-serif; margin: 0; width: 100%;background:#fff;}a{color: #000; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; background-color: transparent; text-decoration: none;}a:hover{text-decoration: underline;}address{font-style: normal;}b,strong{font-weight: bold;}button,input,mark{background: none;}button,label{cursor: pointer;}li{list-style: none;}img{border: 0;}button{overflow: visible; box-sizing: border-box; cursor: pointer; font-family: inherit; font-size: inherit; outline: 0; text-align: center; background: none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance: button; cursor: pointer;}button[disabled],html input[disabled]{cursor: default;}button,label{cursor: pointer;}button::-moz-focus-inner,input::-moz-focus-inner{border: 0; padding: 0;}input{line-height: normal;}input[type="checkbox"],input[type="radio"]{box-sizing: border-box; padding: 0;}input:required{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}textarea{overflow: auto;}:focus{outline: none;}::-moz-focus-inner{border: 0;}

.sta-inputFixed{position:fixed;left:-999px;top:0;height:0;width:0;opacity:0}

/* COOKIES */
#sta-cookies:checked ~ .tpl-g-cookies{display:none;}
.tpl-g-cookies{background:#000;z-index:201;color:#fff;padding:10px;text-align:center;font-size:13px;position:relative;font-family:'PT Sans', sans-serif;}
.tpl-g-cookies a{color:#f0f0f0;font-weight:bold;}
.tpl-g-cookies label{cursor:pointer;padding:0 10px;margin:0 10px;background:#fff;color:#000;}
/* FIN COOKIES */

.sta-noScroll{overflow: hidden}

.tpl-cabeceraNoHome-key ~ main{text-align: center;}
/* .tpl-header-key */
.tpl-header-key{position:relative;z-index:9999;text-align:right}
.tpl-header-key.sta-fixed .sta-header-key_abs{position:fixed;background:#fff; box-shadow: 0px 0px 6px -2px #000;}
.tpl-header-key.sta-fixed.sta-complete .sta-header-key_list li a,
.tpl-header-key.sta-fixed.sta-complete .sta-header-key_list li{color: #5e5e5e;}
.tpl-header-key.sta-fixed.sta-complete .sta-header-key_list .sta-header-key_idiomas label:before{background: #5e5e5e;}
.tpl-header-key #sta-header-key_nav:checked~.sta-header-key_abs .sta-header-key_cont{visibility:visible;opacity:1;transition:opacity .5s}
.tpl-header-key #sta-header-key_idi:checked~.sta-header-key_abs .sta-header-key_list .sta-header-key_idiomas ul{max-height:500px}
.tpl-header-key #sta-header-key_idi:checked~.sta-header-key_abs .sta-header-key_list .sta-header-key_idiomas label span:after{content:'\e02e'}
.tpl-header-key .sta-header-key_abs{position:absolute;left:0;top:0;right:0;transition:.3s}
.tpl-header-key .sta-header-key_max{padding:10px}
.tpl-header-key .sta-header-key_table{display:table;width:100%}
.tpl-header-key .sta-header-key_table .sta-header-key_cell{display:table-cell;vertical-align:middle}
.tpl-header-key .sta-header-key_logo{text-align:left}
.tpl-header-key .sta-header-key_logo .sta-header-key_icon{text-decoration:none;display:inline-block}
.tpl-header-key .sta-header-key_logo .sta-header-key_icon svg{height:56px;width:130px}
.tpl-header-key .sta-header-key_hambur{display:inline-block;height:40px;width:40px;position:relative}
.tpl-header-key .sta-header-key_hambur span{position:absolute;width:24px;height:3px;background:#00613f;top:19px;left:8px;border-radius:5px;transition:.3s}
.tpl-header-key .sta-header-key_hambur span:after,
.tpl-header-key .sta-header-key_hambur span:before{content:'';position:absolute;left:0;height:100%;width:100%;top:-7px;background:#00613f;border-radius:5px;transition:.3s .3s top,.3s transform}
.tpl-header-key .sta-header-key_hambur span:after{top:7px}
.tpl-header-key #sta-header-key_nav:checked~.sta-header-key_abs .sta-header-key_hambur span{background:0 0}
.tpl-header-key #sta-header-key_nav:checked~.sta-header-key_abs .sta-header-key_hambur span:after,
.tpl-header-key #sta-header-key_nav:checked~.sta-header-key_abs .sta-header-key_hambur span:before{top:0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);transition:.3s top,.3s .3s transform}
.tpl-header-key #sta-header-key_nav:checked~.sta-header-key_abs .sta-header-key_hambur span:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.tpl-header-key .sta-header-key_cont{visibility:hidden;opacity:0;position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,.89);overflow:auto;padding:10px}
.tpl-header-key .sta-header-key_list{text-align:center}
.tpl-header-key .sta-header-key_list .sta-header-key_border{padding-bottom:6px;position:relative}
/*.tpl-header-key .sta-header-key_list .sta-header-key_border:before{content:'';position:absolute;left:51%;bottom:0;right:51%;background:#8fccdb;height:3px;transition:.3s}*/
.tpl-header-key .sta-header-key_list li{color:#fff;font:bold 16px 'Roboto',sans-serif;position:relative}
.tpl-header-key .sta-header-key_list li.sta-actual .sta-header-key_border:before{left:0;right:0}
.tpl-header-key .sta-header-key_list li button{color:#fff;display:block;width:100%;padding:13px 10px;}
.tpl-header-key .sta-header-key_list li a{color:#fff;display:block;width:100%;padding:13px 10px; text-decoration: none;font-weight:700; box-sizing: border-box; text-transform: uppercase; letter-spacing: .05em}
.tpl-header-key .sta-header-key_list li a:hover .sta-header-key_border:before{content: "";position: absolute; height: 3px; bottom: 0; left: 0; right: 0; width: 100%; background: #669933;}
.tpl-header-key .sta-header-key_list li ul{display:none;}
.tpl-header-key .sta-header-key_list li.sta-multiple ul{display:block;top:100%;left:0;border:solid rgba(255,255,255,.3);border-width:1px 0;max-width:300px;margin:0 auto;}
.tpl-header-key .sta-header-key_list li.sta-multiple ul li{font-weight:normal;font-size:16px;}
.tpl-header-key .sta-header-key_list .sta-header-key_idiomas{padding:0;margin-top:60px}
.tpl-header-key .sta-header-key_list .sta-header-key_idiomas label{border:solid rgba(255,255,255,.3);border-width:1px 0;display:block;padding:13px 10px}
.tpl-header-key .sta-header-key_list .sta-header-key_idiomas label span:after{content:'\e0f8';margin-left:5px;font:11px Icons;color:#693}
.tpl-header-key .sta-header-key_list .sta-header-key_idiomas ul{max-height:0;overflow:hidden;transition:1s;display:block;}
.tpl-header-key.sta-complete .sta-header-key_max{padding:30px 20px 10px 30px; max-width: 1280px; margin: 0 auto;}
.tpl-header-key.sta-complete.sta-fixed .sta-header-key_max{padding-top:20px}
.tpl-header-key.sta-complete .sta-header-key_cont{visibility:visible;opacity:1;position:static;background:0 0;padding:0;overflow:visible}
.tpl-header-key.sta-complete .sta-header-key_list{text-align:right}
.tpl-header-key.sta-complete .sta-header-key_list li{display:inline-block;vertical-align:top;}
.tpl-header-key.sta-complete .sta-header-key_list li a,
.tpl-header-key.sta-complete .sta-header-key_list li button{padding:10px 15px 10px 20px;}
.tpl-header-key.sta-complete .sta-header-key_list li.sta-multiple:hover{background:#9e9e9e;transition:.3s;-webkit-filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.38));filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.38))}
.tpl-header-key.sta-complete .sta-header-key_list li.sta-multiple:hover ul{opacity:1;visibility:visible;transition:.3s;}
.tpl-header-key.sta-complete .sta-header-key_list li.sta-multiple ul{position: absolute;top:100%;left:0;min-width:240px;background:#9e9e9e;border:0;text-align:left;margin-top: 0;opacity:0;visibility:hidden;}
.tpl-header-key.sta-complete .sta-header-key_list li.sta-multiple ul button{text-align:left;}
.tpl-header-key.sta-complete .sta-header-key_list li.sta-multiple ul li{display:block;}
.tpl-header-key.sta-complete .sta-header-key_list .sta-header-key_idiomas{margin-top:0;display:inline-block;padding:0;font-weight:300}
.tpl-header-key.sta-complete .sta-header-key_list .sta-header-key_idiomas label{border:0;padding:0;margin-left:10px;position:relative}
.tpl-header-key.sta-complete .sta-header-key_list .sta-header-key_idiomas label:before{content:'';position:absolute;left:0;top:50%;height:16px;width:1px;background:#fff;margin-top:-8px}
.tpl-header-key.sta-complete .sta-header-key_list .sta-header-key_idiomas label span{padding:10px 10px 10px 30px;display:block;transition:background 1s}
.tpl-header-key.sta-complete .sta-header-key_list .sta-header-key_idiomas label span:after{margin-left:10px;transition:color 1s}
.tpl-header-key.sta-complete #sta-header-key_idi:checked~.sta-header-key_abs .sta-header-key_list .sta-header-key_idiomas label span:after{color:#fff}
.tpl-header-key.sta-complete #sta-header-key_idi:checked~.sta-header-key_abs .sta-header-key_list .sta-header-key_idiomas label span{background:#00613f}
.tpl-header-key.sta-fixed #sta-header-key_idi:checked~.sta-header-key_abs .sta-header-key_list li{color: #fff}
.tpl-header-key.sta-complete .sta-header-key_cont .sta-header-key_table,
.tpl-header-key.sta-complete .sta-header-key_hambur{display:none}
.tpl-header-key.sta-complete .sta-header-key_list .sta-header-key_idiomas ul{position:absolute;right:0}
.tpl-header-key.sta-complete .sta-header-key_list .sta-header-key_idiomas ul li{display:block;font-weight:300}
.tpl-header-key.sta-complete .sta-header-key_abs .sta-header-key_list .sta-header-key_idiomas ul{left:10px;text-align:center;background:#00613f}

.tpl-header-key .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#fff;}
.tpl-header-key .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#fff;}
.tpl-header-key .st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.tpl-header-key.sta-fixed .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#00613F;}
.tpl-header-key.sta-fixed .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#5E5E5E;}
.tpl-header-key.sta-fixed .st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}

/* FIN .tpl-header-key */

/* tpl-title-key */
.tpl-title-key{font: 16px 'Roboto'; color: #666666; text-align: center; max-width: 780px; margin: 0 auto;}
.tpl-title-key .sta-title-key_title{font:italic 36px 'Libre Baskerville', serif; color: #00613f;}
.tpl-title-key .sta-title-key_text{margin-top: 20px}
.tpl-title-key .sta-title-key_text:empty{display: none;}
/* fin tpl-title-key */

/* tpl-cabecera-key */
.tpl-cabecera-key .sta-cabecera-key_imgActual{background-position: center;background-repeat: no-repeat;background-size: cover;position: absolute;left: 0;top: 0; bottom: 0;right:0;}
.tpl-cabecera-key .sta-cabecera-key_max{margin: 0 auto;}
.tpl-cabecera-key .sta-cabecera-key_table{display: table;width: 100%;position: relative;height: 340px;}
.tpl-cabecera-key .sta-cabecera-key_cell{display: table-cell;padding:80px 20px 30px; vertical-align:middle;position: relative;z-index: 1;}
.tpl-cabecera-key .sta-cabecera-key_txt{font: italic 24px 'Libre Baskerville', serif; color: #fff;text-shadow: 1px 1px 4px #000;}
.tpl-cabecera-key .sta-cabecera-key_contForm{background: #00613f;color: #fff; padding: 30px 15px;border-top: 4px solid #e6c300;}
.tpl-cabecera-key .sta-cabecera-key_titleForm{font: italic 22px 'Libre Baskerville', serif;margin-bottom:3px }
.tpl-cabecera-key .sta-cabecera-key_subtitleForm{font: 300 14px 'Roboto', serif; margin-bottom: 20px }
.tpl-cabecera-key .sta-error{display: none;color: #ff4040;margin-bottom: 10px}
.tpl-cabecera-key .sta-error.sta-ko{display: block}
.tpl-cabecera-key .sta-cabecera-key_input{position: relative;display: block;margin-bottom: 20px;}
.tpl-cabecera-key .sta-cabecera-key_input input{background: #fff;padding:15px 0 0 10px;width: 100%;box-sizing: border-box;box-shadow: 0 0 3px 0 rgba(0,0,0,.5);border: 2px solid transparent;transition: .3s;font: bold 14px 'Roboto', serif;color: #000;height:50px}
.tpl-cabecera-key .sta-cabecera-key_input .sta-cabecera-key_pass{font-size: 30px;line-height: 10px;}
.tpl-cabecera-key .sta-cabecera-key_input span{font: 12px 'Roboto', serif;color: #666;position: absolute;top: 5px;left: 10px;text-align: left;}
.tpl-cabecera-key .sta-cabecera-key_subTable{display: table; width: 100%;text-align: right}
.tpl-cabecera-key .sta-cabecera-key_subCell{display: table-cell;text-align: left;vertical-align: middle;cursor: pointer;font: 300 16px 'Roboto', serif}
.tpl-cabecera-key .sta-cabecera-key_label{position: relative;display: block;}
.tpl-cabecera-key .sta-cabecera-key_label span{display: block;padding:5px 0 0 32px;position: relative;}
.tpl-cabecera-key .sta-cabecera-key_label span:after{content: '\e0a9';font: 1px/1px 'Icons';position: absolute;left: 0;top: 50%;width: 25px;text-align: center;color: transparent;transition: .3s;}
.tpl-cabecera-key .sta-cabecera-key_recuerdame:checked + span:after{font-size: 15px;color: #00613f;}
.tpl-cabecera-key .sta-cabecera-key_subCell span:before{content: '';position: absolute;left: 0;top: 0;width: 25px;height: 25px;background: #fff;box-shadow: 0 0 7px 0 rgba(0,0,0,.5);}
.tpl-cabecera-key .sta-cabecera-key_recuerdame{position: absolute;left: 0;top:0;height: 1px;width: 1px;}
.tpl-cabecera-key .sta-cabecera-key_btn{background: #e6c300;color: #00613f;font: italic 18px 'Libre Baskerville', serif;box-shadow: 0 0 3px 0 rgba(0,0,0,.5);border: 2px solid #e6c300;cursor: pointer;transition: .3s;padding: 8px 28px; }
.tpl-cabecera-key .sta-cabecera-key_btn:hover,
.tpl-cabecera-key .sta-cabecera-key_btn:focus{background: transparent;color: #e6c300;transition:.3s}

@media (min-width: 801px){
  .tpl-cabecera-key{position: relative}
  .tpl-cabecera-key .sta-cabecera-key_imgActual{max-height: none}
  .tpl-cabecera-key .sta-cabecera-key_table{position: relative;height: 700px; position: static}
  .tpl-cabecera-key .sta-cabecera-key_cell{padding: 245px 50% 30px 20px;vertical-align: top}
  .tpl-cabecera-key .sta-cabecera-key_txt{font-size: 48px;}
  .tpl-cabecera-key .sta-cabecera-key_input input{font-size: 18px;padding:20px 0 0 18px;height: 60px}
  .tpl-cabecera-key .sta-cabecera-key_input span{font-size: 14px; top: 9px; left: 20px}
  .tpl-cabecera-key .sta-cabecera-key_contForm{z-index: 2;position: absolute;top: 220px;right:30px;width: 40%; max-width: 500px;border-top:0;border-left: 4px solid #e6c300; }
}

/* FIN tpl-cabecera-key */

/* tpl-boxes3-key */
.tpl-boxes3-key{ text-align: center; font: 20px 'Libre Baskerville', serif; padding: 40px 20px; border-bottom-color: #00613f; border-bottom:1px solid rgba(0, 97, 63, .5); background-color: #fff;}
.tpl-boxes3-key .sta-boxes3-key_title{color: #00613f; font-style: italic; margin-bottom: 10px;}
.tpl-boxes3-key .sta-boxes3-key_text{font-family: 'Roboto'; font-size: 14px; text-transform: uppercase; letter-spacing: .05em;}
.tpl-boxes3-key .sta-boxes3-key_box:not(:last-of-type){ margin-bottom: 35px;}
@media (min-width: 601px){
  .tpl-boxes3-key .sta-boxes3-key_max{ display: table; width:100%;}
  .tpl-boxes3-key .sta-boxes3-key_box{max-width: 200px;width: 33%;display: table-cell; vertical-align: top; padding: 0 20px;}
  .tpl-boxes3-key .sta-boxes3-key_box:not(:last-of-type){margin-bottom: 0;}
}
@media (min-width: 1001px){
  .tpl-boxes3-key{padding: 60px 20px; font-size: 36px;}
  .tpl-boxes3-key .sta-boxes3-key_max{max-width: 1100px;margin: 0 auto;}
  .tpl-boxes3-key .sta-boxes3-key_box{padding: 0 40px;max-width: 300px;}
  .tpl-boxes3-key .sta-boxes3-key_text{margin-bottom: 0; font-size: 16px;}
}
/* fin tpl-boxes3-key */

/* tpl-ventajas-key */
.tpl-ventajas-key{background: #fff}
.tpl-ventajas-key .sta-ventajas-key_max{text-align: center;margin: 0 auto}
.tpl-ventajas-key .sta-ventajas-key_superior{color: #666; padding: 30px; max-width: 700px;margin: 0 auto;}
.tpl-ventajas-key .sta-ventajas-key_title{font: italic 24px 'Libre Baskerville', serif;margin-bottom: 20px; color: #00613f;}
.tpl-ventajas-key .sta-ventajas-key_subtitle{font: 300 14px 'Roboto', sans-serif}
.tpl-ventajas-key .sta-ventajas-key_box{width: 290px; height: 380px; display: inline-block;position: relative;margin: 0 7.5px 20px}
.tpl-ventajas-key .sta-ventajas-key_imgBox{position: absolute; bottom: 100%;left: 0;background-size: cover;background-position: center; background-repeat: no-repeat}
.tpl-ventajas-key .sta-ventajas-key_titleBox{padding:20px;font: italic 400 20px/25px 'Libre Baskerville', serif;background: rgba(0,97,63,70%); text-align: center;color: #fff;position:absolute; bottom: 0;left: 0;right: 0}
@media (min-width:801px){
  .tpl-ventajas-key .sta-ventajas-key_max{max-width: 1220px}
  .tpl-ventajas-key .sta-ventajas-key_superior{ padding: 55px 30px 10px}
  .tpl-ventajas-key .sta-ventajas-key_title{font-size:36px}
  .tpl-ventajas-key .sta-ventajas-key_subtitle{font-size:16px}
  .tpl-ventajas-key .sta-ventajas-key_box{margin: 0 6px 50px}
  .tpl-ventajas-key .sta-ventajas-key_titleBox{font-size: 30px; line-height: 36px}
}
/* FIN tpl-ventajas-key */

/* tpl-dualbox-key */
.tpl-dualbox-key{text-align: center; font:italic 16px 'Libre Baskerville', serif; padding: 20px 20px 80px; background: #fff; color: #fff;}
.tpl-dualbox-key .sta-dualbox-key_box{padding: 15px;background: #00613f;}
.tpl-dualbox-key .sta-dualbox-key_box:not(:last-of-type){border-bottom: 1px solid #fff; border-bottom-color: rgba(255, 255, 255, .3);}
.tpl-dualbox-key .sta-dualbox-key_max{background: #00613f; padding: 5px 0;}
.tpl-dualbox-key .sta-dualbox-key_text{margin-top: 10px;}
.tpl-dualbox-key .sta-dualbox-key_svg svg{fill: #e6c300; width: 55px; height: 55px; display: block; margin: 0 auto;}
@media (min-width: 701px){
  .tpl-dualbox-key{font-size: 18px}
  .tpl-dualbox-key .sta-dualbox-key_box{display: table-cell; padding: 20px 10px; vertical-align: middle; width: 33%;}
  .tpl-dualbox-key .sta-dualbox-key_box:not(:last-of-type){border-right: 1px solid #fff;border-right-color: rgba(255, 255, 255, .3); border-bottom: 0;}
  .tpl-dualbox-key .sta-dualbox-key_max{display: table; width:100%; padding: 0; background: none;}
  .tpl-dualbox-key .sta-dualbox-key_text{display: table-cell; vertical-align: middle; margin-top: 0;}
  .tpl-dualbox-key .sta-dualbox-key_svg{display: table-cell; padding-right: 10px;}
}
@media (min-width: 901px){
  .tpl-dualbox-key .sta-dualbox-key_svg{width: 65px;}
  .tpl-dualbox-key .sta-dualbox-key_box{padding:20px 30px; }
  .tpl-dualbox-key{font-size: 20px}
  .tpl-dualbox-key .sta-dualbox-key_max{max-width:1200px; margin: 0 auto;}
  .tpl-dualbox-key .sta-dualbox-key_text{text-align: left; margin-left: 10px;}
}
/* fin tpl-dualbox-key */

/* tpl-footer-key */
.tpl-footer-key{padding:10px; background: #969696; text-align: center; color: #fff;font:300 14px 'Roboto'; letter-spacing: .025em}
.tpl-footer-key ul{margin-top: 15px;}
.tpl-footer-key ul li button{font-weight: 300;}
.tpl-footer-key .sta-footer-key_images img,
.tpl-footer-key .sta-footer-key_images svg{margin: 10px 20px; max-width: 270px; max-height: 70px; fill: #fff;}
.tpl-footer-key a{color: #fff;}
@media (min-width: 601px), print{
  .tpl-footer-key .sta-footer-key_images img,
  .tpl-footer-key .sta-footer-key_images svg{ max-width: 40%; max-height: 52px;display: inline-block; vertical-align: middle;}
  .tpl-footer-key .sta-footer-key_max{display: table; margin: 0 auto; width: 100%; max-width: 1200px;}
  .tpl-footer-key .sta-footer-key_images{display: table-cell;width: 50%; text-align: left; padding-right: 10px;}
  .tpl-footer-key .sta-footer-key_enlaces{display: table-cell; width: 50%; text-align: right; vertical-align: middle;}
  .tpl-footer-key ul li{display: inline-block;vertical-align: bottom; position: relative;}
  .tpl-footer-key ul li:not(:first-of-type):before{content: "| "; font: 14px 'Roboto';}
  .tpl-footer-key .sta-footer-key_enlaces{padding-right: 10px;}
  .tpl-footer-key ul{margin: 0;}
}
/* fin tpl-footer-key */

/* tpl-fiveboxes-key */
.tpl-fiveboxes-key{text-align: center; font: 300 18px 'Roboto'; color: #666; background: #fff; padding: 20px;}
.tpl-fiveboxes-key .sta-fiveboxes-key_cab{font:italic 36px 'Libre Baskerville', serif; color: #00613f; margin-bottom: 40px;}
.tpl-fiveboxes-key .sta-fiveboxes-key_subtitle:empty,
.tpl-fiveboxes-key .sta-fiveboxes-key_contBtn:empty{display: none}
.tpl-fiveboxes-key.v3 .sta-fiveboxes-key_subtitle{display:block;padding-bottom:30px;font:italic 24px 'Libre Baskerville', serif;max-width: 350px; margin: 0 auto;position: relative;color: #00613f}
.tpl-fiveboxes-key.v3 .sta-fiveboxes-key_subtitle{display:block;padding-bottom:30px;font:italic 24px 'Libre Baskerville', serif;max-width: 350px; margin: 0 auto;position: relative;color: #00613f;}
.tpl-fiveboxes-key.v3 .sta-fiveboxes-key_subtitle:after{content: ''; width: 100px;border-bottom: 1px solid #00613f; position: absolute;left: calc(50% - 50px);top: 100%}
.tpl-fiveboxes-key.v3 .sta-fiveboxes-key_contBtn{display:block;margin:30px 20px 0px}
.tpl-fiveboxes-key.v3 .sta-fiveboxes-key_contBtn button{background: #e6c300;color: #00613f;font: italic 18px 'Libre Baskerville', serif;box-shadow: 0 0 3px 0 rgba(0,0,0,.5);border: 2px solid #e6c300;cursor: pointer;transition: .3s;padding: 8px 15px;}
.tpl-fiveboxes-key.v3 .sta-fiveboxes-key_contBtn button:focus,
.tpl-fiveboxes-key.v3 .sta-fiveboxes-key_contBtn button:hover{background: transparent;transition:.3s}
.tpl-fiveboxes-key .sta-fiveboxes-key_box{max-width: 350px; margin: 0 auto;}
.tpl-fiveboxes-key .sta-fiveboxes-key_contbox{margin-top: 20px;}
.tpl-fiveboxes-key .sta-fiveboxes-key_title{font:italic 18px 'Libre Baskerville', serif; color: #00613f; margin-bottom: 5px;}
.tpl-fiveboxes-key .sta-fiveboxes-key_box:not(:last-of-type){margin-bottom: 30px;}

@media (min-width: 601px){
  .tpl-fiveboxes-key{padding: 60px 20px 45px;}
  .tpl-fiveboxes-key .sta-fiveboxes-key_max{max-width: 1220px; margin: 0 auto;}
  .tpl-fiveboxes-key .sta-fiveboxes-key_cab{margin-bottom: 20px;}
  .tpl-fiveboxes-key.v3 .sta-fiveboxes-key_subtitle{max-width: 650px;}
  .tpl-fiveboxes-key .sta-fiveboxes-key_box{max-width: 200px;width: 100%; display: inline-block; vertical-align: top; margin: 20px;}
  .tpl-fiveboxes-key .sta-fiveboxes-key_box:not(:last-of-type){margin-bottom: 20px;}
}

/* fin tpl-fiveboxes-key */

/* tpl-boxesnum-key */
.tpl-boxesnum-key{text-align: center; font: 16px 'Roboto'; color: #666; background: #dadada; padding: 50px 20px;counter-reset: tpl-boxesnum-key;}
.tpl-boxesnum-key .sta-boxesnum-key_title{font:italic 36px 'Libre Baskerville', serif; color: #00613f; margin-bottom: 15px;}
.tpl-boxesnum-key .sta-boxesnum-key_box{max-width: 400px; margin: 0 auto;}
.tpl-boxesnum-key .sta-boxesnum-key_titbox{font:italic 24px 'Libre Baskerville', serif; color: #00613f; margin-bottom: 5px; padding-top: 35px; position: relative}
.tpl-boxesnum-key .sta-boxesnum-key_box:not(:last-of-type){margin-bottom: 25px;}
.tpl-boxesnum-key .sta-boxesnum-key_titbox:after{content:counter(tpl-boxesnum-key);counter-increment: tpl-boxesnum-key; background: #e6c300; border-radius: 50%; box-shadow: 0px 0px 4px 0px #000; color: #00613f; position: absolute; top: 0; left: 50%; width: 26px; margin-left: -13px; font: 14px/26px 'Roboto'; text-align: center;}
@media (min-width: 601px){
  .tpl-boxesnum-key .sta-boxesnum-key_title{margin-bottom: 45px;}
  .tpl-boxesnum-key .sta-boxesnum-key_box{display: inline-block; vertical-align: top; margin:20px;}
}
@media (min-width: 801px){
  .tpl-boxesnum-key .sta-boxesnum-key_title{margin-bottom: 30px;}
  .tpl-boxesnum-key .sta-boxesnum-key_max{max-width: 1220px; margin: 0 auto;}
  .tpl-boxesnum-key .sta-boxesnum-key_box{max-width: 350px;}
}
/* fin tpl-boxesnum-key */

/* tpl-map-key */
.tpl-map-key{text-align: center;font:italic 25px 'Libre Baskerville', serif; color: #00613f;  background: #fff; padding: 20px 0;}
.tpl-map-key .sta-map-key_title{padding: 0 20px 10px;}
.tpl-map-key .sta-map-key_cont{max-width: 1300px; margin: 0 auto;position: relative;}
.tpl-map-key .sta-map-key_image{overflow: hidden;}
.tpl-map-key .sta-map-key_image img{width: 130%; margin-left: -15%;}
@media (min-width: 601px){
  .tpl-map-key{font-size: 36px;}
  .tpl-map-key .sta-map-key_title{position: absolute; right: 0; left: 0; top: 0;}
  .tpl-map-key .sta-map-key_image img{width: 100%; margin-left: 0;}
}
@media (min-width: 1001px){
  .tpl-map-key .sta-map-key_title{padding: 17px 20px 10px;}
}
/* fin tpl-map-key */

/* tpl-selechoteles-key */
.tpl-selechoteles-key{text-align: center; color: #fff; padding: 20px; background: #fff;}
.tpl-selechoteles-key .sta-selechoteles-key_boxcont{margin-top: 30px;}
.tpl-selechoteles-key .sta-selechoteles-key_box{max-width: 240px; margin: 0 auto 20px; min-height: 305px; padding: 30px 18px 20px}
.tpl-selechoteles-key .sta-selechoteles-key_box:last-of-type{margin-bottom: 0;}
.tpl-selechoteles-key .sta-selechoteles-key_box.sta-negro{background: #122530;}
.tpl-selechoteles-key .sta-selechoteles-key_box.sta-azul{background: #0d2a5c;}
.tpl-selechoteles-key .sta-selechoteles-key_box.sta-rojo{background: #b91739;}
.tpl-selechoteles-key .sta-selechoteles-key_box.sta-verde{background: #398d99;}
.tpl-selechoteles-key .sta-selechoteles-key_title{border: 1px solid #fff;font:italic 30px 'Libre Baskerville', serif; width: 228px; height: 150px; margin: 0 auto; display: table;}
.tpl-selechoteles-key .sta-selechoteles-key_textcont{display: table-cell; vertical-align: bottom; padding: 0 25px 10px;}
.tpl-selechoteles-key .sta-selechoteles-key_text{color: #fff; color: rgba(255, 255, 255, .5);margin-top: 15px;}
@media (min-width: 601px){
  .tpl-selechoteles-key{padding: 35px 25px 20px;}
  .tpl-selechoteles-key .sta-selechoteles-key_box{display: inline-block; vertical-align: top; margin: 10px;padding: 30px 30px 20px}
  .tpl-selechoteles-key .sta-selechoteles-key_max{max-width: 1280px;margin: 0 auto;}
  .tpl-selechoteles-key .sta-selechoteles-key_boxcont{margin-top: 20px;}
}
/* fin tpl-selechoteles-key */

/* tpl-boxestext-key */
.tpl-boxestext-key{text-align: center; color: #666; font: 16px 'Roboto'; padding: 20px; background: #fff;}
.tpl-boxestext-key.v2{background: #dadada;}
.tpl-boxestext-key .sta-boxestext-key_box:not(:last-of-type){margin-bottom: 20px;}
.tpl-boxestext-key .sta-boxestext-key_title{font:italic 24px 'Libre Baskerville', serif; color: #00613f; display: block;}
.tpl-boxestext-key .sta-boxestext-key_contbox{margin-top: 30px;}
.tpl-boxestext-key .sta-boxestext-key_contbox:empty{display: none;}
@media (min-width: 601px){
  .tpl-boxestext-key{padding: 60px 20px 55px;}
  .tpl-boxestext-key .sta-boxestext-key_max{max-width: 1220px; margin: 0 auto;}
  .tpl-boxestext-key .sta-boxestext-key_box{display: inline-block; margin: 0 50px 20px; vertical-align: top; min-width: 210px; width: 20%; width: calc(100% / 3 - 100px);}
}
/* fin tpl-boxestext-key */

/* tpl-fiveboxes-key v2 */
.tpl-fiveboxes-key.v2{background: #dadada;}
.tpl-fiveboxes-key.v2 .sta-fiveboxes-key_title{font-size: 24px;}
@media (min-width: 601px){
  .tpl-fiveboxes-key.v2{padding: 60px 20px 50px;}
}
/* fin tpl-fiveboxes-key v2 */

/* tpl-paqueteTec-key */
.tpl-paqueteTec-key{text-align: center; font: 16px 'Roboto'; color: #666; background: #fff; padding:60px 30px 50px}
.tpl-paqueteTec-key .sta-paqueteTec-key_title{font: italic 36px 'Libre Baskerville', serif; color: #00613f; margin-bottom: 15px;}
.tpl-paqueteTec-key .sta-paqueteTec-key_box{max-width: 400px; margin: 0 auto;}
.tpl-paqueteTec-key .sta-paqueteTec-key_img{display: block;margin: 0 auto;}
.tpl-paqueteTec-key .sta-paqueteTec-key_titbox{font:italic 24px 'Libre Baskerville', serif; color: #00613f; margin-bottom: 5px; padding-top: 35px; position: relative}
.tpl-paqueteTec-key .sta-paqueteTec-key_box:not(:last-of-type){margin-bottom: 25px;}
.tpl-paqueteTec-key .sta-paqueteTec-key_titbox:after{content:counter(tpl-boxesnum-key);counter-increment: tpl-boxesnum-key; background: #e6c300; border-radius: 50%; box-shadow: 0px 0px 4px 0px #000; color: #00613f; position: absolute; top: 0; left: 50%; width: 26px; margin-left: -13px; font: 14px/26px 'Roboto'; text-align: center;}
@media (min-width: 601px){
  .tpl-paqueteTec-key .sta-paqueteTec-key_title{margin-bottom: 45px;}
  .tpl-paqueteTec-key .sta-paqueteTec-key_box{display: inline-block; vertical-align: top; margin:20px;}
}
@media (min-width: 801px){
  .tpl-paqueteTec-key .sta-paqueteTec-key_title{margin-bottom: 30px;}
  .tpl-paqueteTec-key .sta-paqueteTec-key_max{max-width: 1220px; margin: 0 auto;}
  .tpl-paqueteTec-key .sta-paqueteTec-key_box{max-width: 260px;}
}
/* fin tpl-paqueteTec-key */

html{background: red}
/* tpl-collage-key */
.tpl-collage-key{background: #fff;padding: 60px 0 60px;}
.tpl-collage-key .tpl-title-key{padding: 0 20px;}
.tpl-collage-key .sta-collage-key_galerycont{padding: 0 20px;}
.tpl-collage-key .sta-collage-key_galerycont div div{background-position: center; background-size: cover; background-repeat: no-repeat;}
.tpl-collage-key .sta-collage-key_galerycont div div div{background-size: contain;background-position: bottom; background-repeat: no-repeat;}
.tpl-collage-key .sta-collage-key_foto5,
.tpl-collage-key .sta-collage-key_foto4,
.tpl-collage-key .sta-collage-key_foto3,
.tpl-collage-key .sta-collage-key_foto2,
.tpl-collage-key .sta-collage-key_foto1{height: 200px; width: 100%; margin-top: 20px; position: relative;}
.tpl-collage-key .sta-collage-key_logo5,
.tpl-collage-key .sta-collage-key_logo4,
.tpl-collage-key .sta-collage-key_logo3,
.tpl-collage-key .sta-collage-key_logo2,
.tpl-collage-key .sta-collage-key_logo1{position: absolute; width: 140px; right: 15px; height: 60px; bottom: 15px; display: block; z-index: 1; }
.tpl-collage-key .sta-collage-key_logo5 svg,
.tpl-collage-key .sta-collage-key_logo4 svg,
.tpl-collage-key .sta-collage-key_logo3 svg,
.tpl-collage-key .sta-collage-key_logo2 svg,
.tpl-collage-key .sta-collage-key_logo1 svg{position: absolute; bottom: 0; right: 0;}
.tpl-collage-key .sta-collage-key_logo1 .st0{fill: #000;}
.tpl-collage-key .sta-collage-key_logo5 .st0{fill:#702C33;}
.tpl-collage-key .sta-collage-key_logo5 .st1{fill:#B38F23;}
.tpl-collage-key .sta-collage-key_logo5 .st2{fill-rule:evenodd;clip-rule:evenodd;fill:#B38F23;}
@media (min-width: 721px){
  .tpl-collage-key{background: #fff;padding: 60px 20px 60px;}
  .tpl-collage-key .tpl-title-key{padding: 0;}
  .tpl-collage-key .sta-collage-key_max{max-width: 1220px; margin: 0 auto;}
  .tpl-collage-key .sta-collage-key_mitadd{display: inline-block; width: calc(50% - 20px); vertical-align: top; position: relative; margin-right: 20px;}
  .tpl-collage-key .sta-collage-key_centro{display: inline-block; width: calc(30% - 20px); vertical-align: top; height: 540px; margin-right: 20px;}
  .tpl-collage-key .sta-collage-key_mitadi{display: inline-block; width: 20%; vertical-align: top;}
  .tpl-collage-key .sta-collage-key_galerycont{margin-top: 40px;}
  .tpl-collage-key .sta-collage-key_foto1{margin-top: 90px; height: 230px; margin-right: 20px;}
  .tpl-collage-key .sta-collage-key_foto2{width: 40%; margin-left: 60%; margin-top: 20px;}
  .tpl-collage-key .sta-collage-key_foto3{margin-top: 0; width: 100%; height: calc(50% - 10px);}
  .tpl-collage-key .sta-collage-key_foto4{margin-top: 20px; height: calc(50% - 10px);}
  .tpl-collage-key .sta-collage-key_foto5{height: 350px; margin-top: 105px;}
  .tpl-collage-key .sta-collage-key_logo1{top: auto; bottom: -70px; left: 0; margin-left: 0;}
  .tpl-collage-key .sta-collage-key_logo2{top: auto; bottom: 0; left: -160px;}
  .tpl-collage-key .sta-collage-key_logo3{bottom: auto; left: -160px;margin-left: 0;}
  .tpl-collage-key .sta-collage-key_logo4{top: auto; bottom: 0; left: auto; right: -160px; margin-left: 0; background-position: bottom; }
  .tpl-collage-key .sta-collage-key_logo5{bottom: auto; top: -65px; left: 0; margin-left: 0;}
  
}
@media (max-width: 721px){
  .tpl-collage-key path,
  .tpl-collage-key use,
  .tpl-collage-key .sta-collage-key_logo1 .st0,
  .tpl-collage-key .sta-collage-key_logo5 .st0,
  .tpl-collage-key .sta-collage-key_logo5 .st1,
  .tpl-collage-key .sta-collage-key_logo5 .st2{fill: #fff}
}
/* fin tpl-collage-key */

/* tpl-marcas-key */
.tpl-marcas-key{text-align: center; padding: 60px 30px 0;}
.tpl-marcas-key .sta-marcas-key_titulo{font: italic 36px 'Libre Baskerville', serif;color: #00613f;}
.tpl-marcas-key .sta-marcas-key_title{font: italic 24px 'Libre Baskerville', serif; color: #00613f; margin-bottom: 8px;}
.tpl-marcas-key .sta-marcas-key_box{ margin: 35px auto;}
.tpl-marcas-key .sta-marcas-key_subtitle{font: 16px 'Roboto'; color: #666666; margin-bottom: 15px; min-height: 90px;}
.tpl-marcas-key ul li{display: inline-block; width: 190px; height: 90px; border: 1px solid #000; vertical-align: top; line-height: 90px;}
.tpl-marcas-key ul li:not(:first-of-type){border-top-color: transparent;}
.tpl-marcas-key ul li img{margin: 0 auto; vertical-align: middle;}
@media (min-width: 461px){
  .tpl-marcas-key ul li:not(:nth-of-type(2n + 1)){border-left-color: transparent;}
  .tpl-marcas-key ul li:nth-of-type(2){border-top-color: #000;}
  .tpl-marcas-key .sta-marcas-key_box{max-width: 600px;}
}
@media (min-width: 651px){
  .tpl-marcas-key ul li:not(:nth-of-type(2n + 1)){border-left-color: #000;}
  .tpl-marcas-key ul li:not(:nth-of-type(3n + 1)){border-left-color: transparent;}
  .tpl-marcas-key ul li:nth-of-type(3){border-top-color: #000;}
  .tpl-marcas-key .sta-marcas-key_box{max-width: 580px;}
}
@media (min-width: 1300px){
  .tpl-marcas-key .sta-marcas-key_box{display: inline-block; text-align: left; vertical-align: top; margin: 35px auto 0;}
  .tpl-marcas-key .sta-marcas-key_box:first-of-type{margin-right: 50px;}
  .tpl-marcas-key ul{text-align: center;}
}
/* fin tpl-marcas-key */
/* fin tpl-marcas-key */

/* tpl sixboxes (tpl-fiveboxes-key_six)*/
.tpl-fiveboxes-key.six{background: #dadada; padding: 60px 20px;}
@media (min-width: 601px){
  .tpl-fiveboxes-key.six .sta-fiveboxes-key_box{margin: 14px; max-width: 170px;}
}
/* fin tpl sixboxes (tpl-fiveboxes-key_six) */

/*MODAL*/
.tpl-modal-key{position: fixed;left:0;top:0;right:0;bottom:0;overflow:auto;display:none; text-align: justify; padding: 40px 20px; color: #fff; background: rgba(0, 0, 0, .8);z-index: 10000;}
.tpl-modal-key .sta-modal-key_max{max-width: 940px;margin: 0 auto; position: relative;}
.tpl-modal-key .sta-modal-key_title{text-align: center; font: bold 40px 'Roboto'; margin: 20px 0; position: relative; padding-bottom: 10px;}
.tpl-modal-key .sta-modal-key_title:after{content: ""; width: 100px; height: 8px; background: #d5962c; bottom: 0; left: 0; right: 0; margin: 0 auto; position: absolute;}
.tpl-modal-key .sta-modal-key_cerrar{width: 20px; height: 20px; position: absolute; top: -25px; right: 0; z-index: 20px; font: 16px 'Icons';}
.tpl-modal-key .sta-modal-key_cerrar:after{content:"\e142";}
.tpl-modal-key .sta-modal-key_content{background: #fff; padding: 20px; max-width: 900px; margin-top: 10px;}
.tpl-modal-key .sta-modal-key_contenido{width: 100%; color: #000;}
/*FINMODAL*/ 


/* tpl-contactBox-key */
.tpl-contactBox-key{text-align: center; color: #666; font: 16px 'Roboto'; padding: 20px; background: #fff; }
.tpl-contactBox-key .sta-contactBox-key_title{font:italic 24px 'Libre Baskerville', serif; color: #00613f; display: block;margin-bottom: 20px;position: relative}
.tpl-contactBox-key .sta-contactBox-key_ubi li{margin: 0 auto;display: inline-block;padding: 20px 30px;vertical-align: top}
.tpl-contactBox-key .sta-contactBox-key_city{text-transform: uppercase; font:italic 14px 'Libre Baskerville', serif; color: #00613f;}
.tpl-contactBox-key .sta-contactBox-key_contBtn{margin-top: 10px}
.tpl-contactBox-key .sta-contactBox-key_contBtn button{background: #e6c300;color: #00613f;font: italic 18px 'Libre Baskerville', serif;box-shadow: 0 0 3px 0 rgba(0,0,0,.5);border: 2px solid #e6c300;cursor: pointer;transition: .3s;padding: 8px 10px;margin: 10px 5px}
.tpl-contactBox-key .sta-contactBox-key_contBtn button:focus,
.tpl-contactBox-key .sta-contactBox-key_contBtn button:hover{background: transparent;transition:.3s}
@media (min-width: 801px){
  .tpl-contactBox-key{text-align: center; color: #666; font: 16px 'Roboto'; padding: 60px 20px 40px; background: #fff; }
  .tpl-contactBox-key .sta-contactBox-key_title{font:italic 24px 'Libre Baskerville', serif; color: #00613f; display: block;}
  .tpl-contactBox-key .sta-contactBox-key_city{font-size: 18px}
}
@media (min-width: 1200px){
  .tpl-contactBox-key{display: inline-block; vertical-align: top; padding-left: 60px;}
  .tpl-contactBox-key .sta-contactBox-key_ubi li{display: block;}
}
/* fin tpl-contactBox-key */


/* tpl-cabeceraNoHome-key */
.tpl-cabeceraNoHome-key .sta-cabeceraNoHome-key_max{background-size: cover;background-position: center; background-repeat: no-repeat;margin: 0 auto;}
.tpl-cabeceraNoHome-key .sta-cabeceraNoHome-key_txt{font: italic 24px 'Libre Baskerville', serif; color: #fff;text-shadow: 1px 1px 4px #000;padding: 140px 20px 50px}

@media (min-width: 801px){
  .tpl-cabeceraNoHome-key .sta-cabeceraNoHome-key_max{min-height: 370px;}
  .tpl-cabeceraNoHome-key .sta-cabeceraNoHome-key_txt{font-size: 36px; padding: 140px 50% 50px 30px}
}
/* fin tpl-cabeceraNoHome-key */

/* tpl-contactForm-key */
.tpl-contactForm-key{padding: 0 20px; display: inline-block;}
.tpl-contactForm-key .sta-contactForm-key_form{text-align: left;}
.tpl-contactForm-key .sta-contactForm-key_max{margin: 0 auto}
.tpl-contactForm-key .sta-contactForm-key_title{text-align: center; font: italic 36px 'Libre Baskerville', serif; color:#00613f; padding: 30px 0}
.tpl-contactForm-key .sta-contactForm-key_contSelect,
.tpl-contactForm-key .sta-contactForm-key_labelTextarea,
.tpl-contactForm-key .sta-contactForm-key_label{position: relative; display: block; margin-bottom: 30px;display: inline-block;width: 100%}
.tpl-contactForm-key .sta-contactForm-key_labelTextarea{margin-bottom: 15px}
.tpl-contactForm-key .sta-contactForm-key_label span,
.tpl-contactForm-key .sta-contactForm-key_labelTextarea span,
.tpl-contactForm-key .sta-contactForm-key_contSelect span{position: absolute; top:-15px;left: 0px;cursor: text; font: 12px 'Roboto', serif; color: #000}
.tpl-contactForm-key .sta-contactForm-key_contSelect select,
.tpl-contactForm-key .sta-contactForm-key_label input{width: 100%;border: 0;border-bottom: 1px solid #000;padding: 5px 6px 2px 0;font: 300 18px 'Roboto', serif ;box-sizing: border-box; color: #666}
.tpl-contactForm-key .sta-contactForm-key_labelTextarea span{top:-20px}
.tpl-contactForm-key .sta-contactForm-key_labelTextarea textarea{width: 100%;min-height:150px;border: 1px solid #000;display: inline-block;font: 300 18px 'Roboto', serif ; padding: 5px;color: #666;box-sizing: border-box}
.tpl-contactForm-key .sta-contactForm-key_select{-webkit-appearance: none; appearance: none;}
.tpl-contactForm-key .sta-contactForm-key_contSelect:before{position: absolute; top: 50%;right: 15px;content:'\e0b2';font: 15px/1px Icons}
.tpl-contactForm-key .sta-contactForm-key_cell{text-align: left;}
.tpl-contactForm-key .sta-contactForm-key_cell label{position: relative; display: block;}
.tpl-contactForm-key .sta-contactForm-key_cell label input{position: absolute;left: 12px;top: 24px;height: 1px;width: 1px;}
.tpl-contactForm-key .sta-contactForm-key_cell label span{display: block;padding: 5px 0 0 32px;position: relative;margin-bottom: 10px}
.tpl-contactForm-key .sta-contactForm-key_cell label span a{color:#00613f;text-decoration: underline}
.tpl-contactForm-key .sta-contactForm-key_cell label span:before{content: '';position: absolute;left: 5px;top: 5px;width: 15px;height: 15px;background: #fff;box-shadow: 0 0 3px 0 rgba(0,0,0,.3);}
.tpl-contactForm-key .sta-contactForm-key_cell label span:after{content: '\e0a9';font: 1px/1px 'Icons';position: absolute;left: 0;top: 50%;width: 25px;text-align: center;color: transparent;transition: .3s;}
.tpl-contactForm-key .sta-contactForm-key_cell label input:checked + span:after{font-size: 8px;color: #00613f;}
.tpl-contactForm-key .sta-contactForm-key_cell > span{font-style: italic; margin-left: 30px}
.tpl-contactForm-key .sta-contactForm-key_right{padding: 30px ; display: block; text-align: center}
.tpl-contactForm-key .sta-contactForm-key_right button{background: #e6c300;color: #00613f;font: italic 18px 'Libre Baskerville', serif;box-shadow: 0 0 3px 0 rgba(0,0,0,.5);border: 2px solid #e6c300;cursor: pointer;transition: .3s;padding: 8px 28px; }
.tpl-contactForm-key .sta-contactForm-key_right button:hover,
.tpl-contactForm-key .sta-contactForm-key_right button:focus{background: transparent;color: #e6c300;transition:.3s;color: #00613f}
.tpl-contactForm-key .sta-contactForm-key_error{margin: 12px 0 10px 32px}
.tpl-contactForm-key .sta-ok{color: #00613f;}
.tpl-contactForm-key .sta-ko{color: #d34;}
.tpl-contactForm-key .sta-contactForm-key_contSelect.sta-ko select,
.tpl-contactForm-key .sta-contactForm-key_labelTextarea.sta-ko textarea,
.tpl-contactForm-key .sta-contactForm-key_label.sta-ko input{border-color: #d34}
.tpl-contactForm-key .sta-contactForm-key_cell.sta-contactForm-key_left > label > span.sta-ko:before{border: 1px solid #d34}
.tpl-contactForm-key .sta-contactForm-key_label.sta-ko span,
.tpl-contactForm-key .sta-contactForm-key_labelTextarea.sta-ko span,
.tpl-contactForm-key .sta-contactForm-key_contSelect.sta-ko span{color: #d34;}
.tpl-contactForm-key .sta-contactForm-key_error{font-size: 16px}
.tpl-contactForm-key .sta-contactForm-key_error .sta-contactForm-key_ko,
.tpl-contactForm-key .sta-contactForm-key_error .sta-contactForm-key_ok{display: none;}
.tpl-contactForm-key .sta-contactForm-key_error.sta-ko .sta-contactForm-key_ko,
.tpl-contactForm-key .sta-contactForm-key_error.sta-ok .sta-contactForm-key_ok{display: block;}
.tpl-contactForm-key .sta-contactForm-key_error.sta-ko .sta-contactForm-key_ok,
.tpl-contactForm-key .sta-contactForm-key_error.sta-ok .sta-contactForm-key_ko{display: none;}

@media (min-width:601px){
.tpl-contactForm-key .sta-contactForm-key_max{max-width: 800px}
.tpl-contactForm-key .sta-contactForm-key_title{padding: 60px 0 40px}
.tpl-contactForm-key .sta-contactForm-key_contSelect,
.tpl-contactForm-key .sta-contactForm-key_label{width: 48%}
.tpl-contactForm-key .sta-contactForm-key_label:nth-of-type(2),
.tpl-contactForm-key .sta-contactForm-key_contSelect{float: right}
.tpl-contactForm-key .sta-contactForm-key_labelTextarea{margin-bottom: 0}
.tpl-contactForm-key .sta-contactForm-key_table{display: table;width: 100%}
.tpl-contactForm-key .sta-contactForm-key_cell{display: table-cell;vertical-align: middle}
.tpl-contactForm-key .sta-contactForm-key_right{padding-right: 0px;text-align: right}


}

/* FIN tpl-contactForm-key */

/* form1 */
.tpl-form-key{text-align: left;font: 14px 'Roboto'}
.tpl-form-key .sta-form-key_title{font: italic 36px 'Libre Baskerville', serif;color: #00613f; }
.tpl-form-key .sta-form-key_form_title{font: italic 22px 'Libre Baskerville', serif;color: #00613f; margin: 30px 0 15px}
.tpl-form-key .sta-form-key_label{position: relative;}
.tpl-form-key .sta-form-key_label span{position: absolute;left: 0; top:-2px; color: #666666; font-size: 16px; }
.tpl-form-key .sta-form-key_label input{border-bottom: 1px solid #00613f; width: 100%; font: 16px 'Roboto'; margin-bottom: 10px; height: 30px; }
.tpl-form-key .sta-form-key_titinput{font: bold 12px 'Roboto'; letter-spacing: 0.04em;}
.tpl-form-key .sta-form-key_check{position: relative;}
.tpl-form-key .sta-form-key_check span:before{content: "";position: absolute; top:1px; left: 0; width: 14px; height: 14px; background: #fff; border: 1px solid #00613f;}
.tpl-form-key .sta-form-key_check input ~ span:after{content:"";font-size: 0; transition: .3s; color: #00613f; }
.tpl-form-key .sta-form-key_check input:checked ~ span:after{content: "\e0a9"; font: 15px 'Icons';position: absolute; top:1px; left: 0; color: #00613f; }
.tpl-form-key .sta-form-key_comentarios{border: 1px solid #00613f; max-width: calc(100% - 22px);width: calc(100% - 22px); min-height: 130px; padding: 10px;}
.tpl-form-key .sta-form-key_check span{margin-left: 3px;}
.tpl-form-key .sta-form-key_texcheck{margin-bottom: 7px;}
.tpl-form-key .sta-form-key_check{margin-bottom: 5px; }
.tpl-form-key .sta-form-key_texcheck{margin: 20px 0 10px; }
.tpl-form-key .sta-form-key_table{display: table; margin-top: 20px;}
.tpl-form-key .sta-form-key_cell,
.tpl-form-key .sta-form-key_button{display: table-cell; vertical-align: middle;}
.tpl-form-key .sta-form-key_cell{ width: 100%;}
.tpl-form-key .sta-form-key_button{text-align: right; width: 20%}
.tpl-form-key .sta-form-key_enviar{width: 100px; height: 40px; background: #e6c300; font: italic 16px 'Libre Baskerville', serif;color: #00613f; border: 2px solid #e6c300; transition: .3s; box-shadow: 0px 0px 4px 1px #000;}
.tpl-form-key .sta-form-key_enviar:hover{background: transparent;}
.tpl-form-key .sta-form-key_check{display: block;}
.tpl-form-key .sta-form-key_politicas ~ span a{color: #00613f; text-decoration: underline;}
.tpl-form-key .sta-ok{color: #00613f;}
.tpl-form-key .sta-ko{color: #d34;}
.tpl-form-key .sta-form-key_label.sta-ko input{border-bottom-color: #d34;}
.tpl-form-key .sta-form-key_label.sta-ko div{color: #d34;}
.tpl-form-key .sta-form-key_error{font-size: 18px;}
.tpl-form-key .sta-form-key_error .sta-form-key_ko,
.tpl-form-key .sta-form-key_error .sta-form-key_ok{display: none;}
.tpl-form-key .sta-form-key_error.sta-ko .sta-form-key_ko,
.tpl-form-key .sta-form-key_error.sta-ok .sta-form-key_ok{display: block;}
.tpl-form-key .sta-form-key_error.sta-ko .sta-form-key_ok,
.tpl-form-key .sta-form-key_error.sta-ok .sta-form-key_ko{display: none;}
.tpl-form-key .sta-form-key_label input:focus ~ span,
.tpl-form-key .sta-form-key_label input.sta-fill ~ span{display: none;}
@media (min-width: 601px){
  .tpl-form-key{padding: 30px;}
  .tpl-form-key .sta-form-key_container{max-width: 880px; margin: 0 auto;}
  .tpl-form-key .sta-form-key_dual{display: table; width: 100%;}
  .tpl-form-key .sta-form-key_label{display: table-cell;}
  .tpl-form-key .sta-form-key_label span{top: 21px;}
  .tpl-form-key .sta-form-key_dual .sta-form-key_label:nth-of-type(2n + 1) input{width: calc(100% - 25px);}
  .tpl-form-key .sta-form-key_dual .sta-form-key_label:not(:nth-of-type(2n + 1)) input{width: calc(100% - 25px);}
  .tpl-form-key .sta-form-key_dual .sta-form-key_label:not(:nth-of-type(2n + 1)){text-align: right;}
  .tpl-form-key .sta-form-key_dual .sta-form-key_label:not(:nth-of-type(2n + 1)) .sta-form-key_titinput{margin-left: 25px; text-align: left;}
  .tpl-form-key .sta-form-key_label input{ width: 100%; }
  .tpl-form-key .sta-form-key_indi .sta-form-key_label{display: block; width: calc(50% - 25px);}
}

/* fin form1 */
